/* .As{
    display :block
}

.jk2{
    display: inline
} */
.container{
    
}
.box{
    display :inline-block;
    margin: 100px;
    padding:60px;
    width:70;
    height:200px;

}
.box1{
    background-color: yellowgreen;
 
}
.box2{
    background-color: red;
     
}
.box3{
    background-color: aqua;
   
}